.main {
    margin-top: 70px;
}

.required .control-label:after {
    content: '*';
    padding-left: 5px;
    color: #dd4b39;
    font-weight: bold;
}

.panel-messages > .panel-body {
    background-color: #f5f5f5;
}

.panel-messages > .panel-footer {
    background-color: #ffffff;
}

#messages .panel {
    width: 90%;
    margin-right: 10%;
}

#messages .panel.my {
    margin-right: 0%;
    margin-left: 10%;
}